@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("../public/Roboto.ttf") format("truetype");
}

.markdown > * {
  all: revert;
}

.uncommon {
  color: rgb(227, 204, 54);
  font-weight: 600;
}

.rare {
  color: rgb(28, 122, 35);
  font-weight: 600;

}

.veryrare {
  color: rgb(155, 75, 184);
  font-weight: 600;
}

.teachable {
  color: rgb(255, 114, 44);
  font-weight: 600;
}

.bloodpoints {
  color: rgb(238, 1, 1);
  font-weight: 600;
}

.iridescent {
  color: rgb(248, 58, 115);
  font-weight: 600;
}