@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("../public/Roboto.ttf") format("truetype");
}

.markdown > * {
  all: revert;
}

.heading {
  font-size: large;
}

.yellow {
  color: rgb(227, 204, 54);
  font-weight: 600;
}

.green {
  color: rgb(28, 122, 35);
  font-weight: 600;

}

.purple {
  color: rgb(155, 75, 184);
  font-weight: 600;
}

.orange {
  color: rgb(255, 114, 44);
  font-weight: 600;
}

.red {
  color: rgb(238, 1, 1);
  font-weight: 600;
}

.pink {
  color: rgb(248, 58, 115);
  font-weight: 600;
}

.beige {
  color: rgb(226, 206, 151);
  font-style: italic;
}